:host {
    display: block;
    background: white;
  }
.container{
    position:absolute;
    z-index:10000;
    left:7.5%;
    top:5%;
    width:100%;
    height:90%;
    background-color: white;
    border:3px solid black;
}
.close{
float: right;
margin:.5%;

}